<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="/fragments/main-layout :: layout(~{::#mainContent})">

<body id="mainContent">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Nova Demanda</h1>
    </div>

    <form method="POST" th:action="@{/demanda/add}" th:object="${demanda}">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" th:field="*{titulo}" class="form-control" id="titulo" aria-describedby="textHelp" placeholder="PRD-0000-00">
          <small id="textHelp" class="form-text text-muted">Titulo que identifica esta demanda</small>
        </div>
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <input type="text" th:field="*{descricao}" class="form-control" id="descricao" placeholder="Customização referente ao...">
          <small id="textHelp" class="form-text text-muted">Descreva o assunto principal desta demanda</small>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
</body>

</html>