<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="/fragments/main-layout :: layout(~{::#title}, ~{::#mainContent})">

<div id="title">
    Lista de demandas
</div>

<div id="mainContent">

    <br />

    <div class="table-responsive">
        <table id="myTable" class="cell-border stripe hover order-column compact">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="demanda : ${demandas}">
                    <td th:text=${demanda.id}></td>
                    <td th:text=${demanda.titulo}></td>
                    <td th:text=${demanda.descricao}></td>
                    <td th:text=${demanda.status}></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                select: true,
                paging: false,
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: '<i class="fas fa-plus">',
                        action: function (e, dt, button, config) {
                            window.location = "/demanda/add";
                        }
                    },
                    {
                        extend: 'selectedSingle',
                        text: '<i class="fas fa-edit"></i>',
                        action: function (e, dt, button, config) {
                            window.location = "/demanda/edit/" + dt.row({ selected: true }).data()[0];
                        }
                    },
                    {
                        extend: 'selectedSingle',
                        text: '<i class="fas fa-minus">',
                        action: function (e, dt, button, config) {
                            var value = dt.row({ selected: true }).data()[0];

                            var r = confirm("Deseja excluir o registro id: " + value + "?");
                            if (!r) return;

                            var f = $('<form>', { action: '/demanda/delete', method: 'post' });
                            f.append( $('<input>', { type: 'hidden', name: 'id', value: value }));
                            $(f).appendTo('body').submit();
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        text: '<i class="far fa-copy"></i>'
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="far fa-file-excel"></i>'
                    },
                    {
                        extend: 'selectedSingle',
                        className: 'none',
                        text: '<i class="fas fa-arrow-circle-left"></i> Voltar Etapa',
                        action: function (e, dt, button, config) {
                            window.location = "/demanda/voltar-etapa/" + dt.row({ selected: true }).data()[0];
                        }
                    },
                    {
                        extend: 'selectedSingle',
                        className: 'none',
                        text: '<i class="fas fa-arrow-circle-right"></i> Avançar Etapa',
                        action: function (e, dt, button, config) {
                            window.location = "/demanda/classificar/" + dt.row({ selected: true }).data()[0];
                        }
                    },
                ]
            });

            table.on( 'select deselect', function () {
                var count = table.rows( { selected: true } ).count();
                if (count != 1) return;

                var status = table.row( { selected: true } ).data()[3];
        
                var back = table.button(5);
                var next = table.button(6);
                next.enable(true);
                window.next = next;
                
                switch (status) {
                  case 'Backlog':
                	  back.enable(false);
                	  next.text('<i class="fas fa-sort-numeric-up"></i> Classificar');
                	  next.action(function (e, dt, button, config) {
                          window.location = "/demanda/classificar/" + dt.row({ selected: true }).data()[0];
                      });
                    break;
                  case 'Classificado':
                	next.text('<i class="fas fa-user-check"></i> Assumir Escopo');
                	next.action(function (e, dt, button, config) {
                        window.location = "/demanda/assumir-escopo/" + dt.row({ selected: true }).data()[0];
                    });
                    break;
                  default:
                    console.log('outros');
                }
            } );
        });
    </script>

</div>



</html>