<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="main (title, mainContent)">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><i class="fab fa-google fa-2x"></i> Demandas</a>

        <h1 th:insert="${title}" class="h2 w-100 text-white" style="padding-left: 20px" />

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Sair</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <br />
                    <ul class="nav flex-column">
                        <li class="nav-item" th:each="menu : ${menus}">
                            <a class="nav-link" th:href="${menu.endpoint}">
                                <i th:class="${menu.icone}"></i>
                                <span th:text=${menu.titulo}></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <br />
                <div th:insert="${mainContent}"></div>
            </main>
        </div>
    </div>

</div>

</html>